<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.UserMapper">

	<resultMap id="userMap" type="User" >
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="age" property="age"/>
    </resultMap>
  <!-- 服务活动量考核一览 -->
  <select id="findById" resultMap="userMap">
      select * from user where id = #{id}

  </select>

    <select id="list" resultMap="userMap">
      select * from user
      <where>
          <if test="id!=null">id=#{id}</if>
      </where>

  </select>
</mapper>
